@using PagedList;
@using PagedList.Mvc;


@model IEnumerable<WebAppPortfolio.Models.BlogPost>

@section css {
<!-- Paged List -->
<link href="~/Content/PagedList.css" rel="stylesheet" />
}

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
<script src="~/Scripts/jQuery/jquery-2.1.4.min.js"></script>

<h3 style="color:#ffffff">Latest blog posts</h3>
    @foreach (var item in Model)
    {
    <ul class="media-list">
        <li class="media" href="@Url.Action("BlogPostDetails", new { item.Slug })">
            <img src="@item.MediaURL" href="@Url.Action("BlogPostDetails", new { item.Slug })" class="media-photo" alt="blog-photo" />
            <a href="@Url.Action("BlogPostDetails", new { item.Slug })" class="media-date" style="color: #fff; background-color: #428bca">
                <span style="font-weight: 600; text-shadow: 1px 1px 0px #333">@item.Created.DateTime.ToString("MMM dd")</span>
            </a>
            <h4 class="media-heading"><a href="@Url.Action( "BlogPostDetails", new { item.Slug })">@item.Title</a></h4>
            <div class="post_content">
                <div class="dotdotdot">
                    <p>@Html.Raw(item.Body)</p>
                </div>
            </div>
        </li>
    </ul>
    }

