@model WebAppPortfolio.Models.Comment


@using (Html.BeginForm())
{
    <div>
        <h6 id="shortcodes" class="page-header"><i class="fa fa-file-text-o"></i> Leave a comment</h6>
        <div class="hline"></div>
        <form action="@Url.Action("_CreateComment", "BlogPosts")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Slug" value="@Model.BlogPosts"/>
            <textarea name="Body" placeholder="Your Comment Here..." id="comment" style="width: 400px"></textarea>
            <input type="hidden" name="PostID" value="@Model.Id"/>
            <br/>
            <br/>
            <br/>
            <input type="submit" value="Post Comment" class="btn btn-primary"/>
        </form>
    </div>
    //}
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
